<!DOCTYPE html>
<html>
<head xmlns="http://www.thymeleaf.org">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Kodchasan" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/css/style.css">
</head>

<body>
	<header>
		<h2 id="welcomde" th:text="${name}">></h2>
		<img id="car" src="img\car.png"  alt="TransportAI-Logo" width="130px" height="130px">

		<h1>Transport AI<h1>
    </header>

        <div class="container">
            <div class="menu">
                <div class="menu-element" onclick="map()"><span>Map</span></div>
                <div class="menu-element" onclick="accounts()"><span>Accounts</span></div>
                <div class="menu-element" onclick="bookings()"><span>Bookings</span></div>
                <div class="menu-element" onclick="messages()"><span>Messages</span></div>
                <div class="menu-element" onclick="settings()"><span>Settings</span></div>
                <div class="menu-element" onclick="logs()"><span>Logs</span></div>
            </div>

            <div class="content-container"></div>
            
        </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/navigation.js}"></script>
<script type="text/javascript" th:src="@{/js/table_search.js}"></script>